<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gr.geias.mapper.CollegeMapper">

    <select id="queryCollege" resultType="com.gr.geias.entity.College">
        select * from tb_college
        <where>
            <if test="adminid!=null">
                admin_id = #{adminid}
            </if>
        </where>
    </select>
    <update id="addCollege" parameterType="com.gr.geias.entity.College" useGeneratedKeys="true" keyColumn="college_id"
            keyProperty="collegeId">
        insert into tb_college(college_name,create_time,admin_id) values(#{college.collegeName},#{college.createTime},#{college.adminId})
    </update>

    <select id="quereyCollegeCount" resultType="int">
    select
          SUM(n.sum)
    from  tb_college c,
          tb_specialty s,
          tb_organization_num n,
          tb_class_grade cg
    where c.college_id = s.college_id
      and s.specialty_id = cg.specialty_id
      and cg.class_id = n.class_id
      and c.college_id=#{collegeId};
    </select>
    <update id="updateCollege" parameterType="com.gr.geias.entity.College">
        update tb_college
        <set>
            <if test="college.collegeName!=null">
                college_name=#{college.collegeName},
            </if>
            <if test="college.adminId!=null">
                admin_id = #{college.adminId},
            </if>
        </set>
        where college_id =#{college.collegeId}
    </update>

</mapper>
